[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rpi-ws281x = "*"
numpy = "*"
numba = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
snakeviz = "*"
pyqt5 = "*"

[requires]
python_version = "3.11"
