CompileFlags:
  Add:
    - -stdlib=libstdc++
    - -isystem
    - /nix/store/zl327dqnvg3ynlpdhpphm1cppassbnq4-gcc-arm-embedded-14.3.rel1/arm-none-eabi/include/c++/14.3.1/arm-none-eabi
  CompilationDatabase: build
  # Remove: [-m*, -f*, -W*]
Index:
  Background: Build
  External:
    File: ./.cache/clangd/index
